body {
    font-family: 'DM Sans', sans-serif;
}

main {
    padding-top: 60px; /* Adjust based on topbar height */
    padding-left: 30px;
}

body {
    background-color: #3C3D37; /* Light gray background */
}

.text {
    color: white;
}

.text a {
    color: #eddfce; /* Set the color for the links in the text section */
    text-decoration: none; /* Remove the underline */
}

.text a:hover {
    color: #99af91; /* Change color on hover */
}

.topbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #181C14;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    position: fixed;
    top: 0;
    left: 0; /* Ensure it starts from the left */
    width: 100%;
    height: 50px; /* Adjust height if needed */
    padding: 0 7px; /* Keep some space on the sides */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.topbar li {
    display: flex;
    align-items: center; /* Ensures logo and text are aligned vertically */
}

.topbar li a {
    display: block;
    color: white; /* Set the color for the topbar links */
    text-align: center;
    padding: 14px 8px; /* Reduced padding for text */
    text-decoration: none; /* Remove the underline */
    font-size: 1.2em;
}

/* Scale logo to match text */
.topbar-img img {
    height: 1.4em; /* Matches font size */
    width: auto;
    vertical-align: middle; /* Vertically align the logo with the text */
    margin-right: 4px; /* Minimal space between logo and text */
}

/* Adjust the logo link (a) to match padding */
.topbar-img a {
    display: inline-block;
    padding: 14px 4px 14px 0; /* Minimal padding to bring logo closer to text */
}